{% extends "manage/manage_base.html" %}
{% load i18n %}

{% block section %}manage-items{% endblock %}
{% block left_slot %}
    <h2 class="navigation-title">
        {% trans "Items" %}
    </h2>
    <div class="navigation-body">
        {% for item in items %}
            <div>
                <a href="{{ item.get_update_url }}"
                   class="selectable {% ifequal item.id current_id %}selected{% endifequal %}">
                    {{ item.title }}
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block content %}

    <div class="site-actions">
        <a class="add"
           href="{{ add_item_url }}">{% trans 'Add Item' %}</a>

        <a class="delete delete-link"
           dialog_message="{% trans 'Do you really want to delete this item?' %}"
           href="{{ item.get_delete_url }}">{% trans 'Delete Item' %}</a>

        <a class="view popup-link"
           href="{{ item.get_view_url }}">{% trans 'View Item' %}</a>

        <a class="goto"
           href="{{ item.get_view_url }}">{% trans 'Goto Item' %}</a>
    </div>

    <div id="manage-tabs">

        <ul>
            <li class="ui-tabs-nav-item"><a href="#data">{% trans 'Item' %}</a></li>
        </ul>

        <div id="data">
            <h2>{% trans 'Item' %}</h2>
            <form action="{{ item.get_update_link }}"
                  method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% include "manage/lfs_form.html" %}

                <div class="buttons">
                    <input type="submit"
                           class="button"
                           value="{% trans 'Save data' %}">
                </div>
            </form>
        </div>
    </div>
{% endblock %}